

<footer style="margin: 0 auto; display: block; width: 100%" class="footer">
  {% for item in site.data.settings.social %}
    <a href="{{ item.link }}" class="menu-link" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a>
  {% endfor %}
  <div class="footer-description"><a href="{{ site.github.url }}/">{{ site.title }} | {{ site.description }} bởi {{ site.author }}</a></div>
</footer>
