<!doctype html>
<html>
  {% include head.html %}
  <body>
    <div class="container">
      <!-- {% include header.html %} -->
      <div class="content-wrapper">
        {{ content }}
      </div>
      <!-- {% include footer.html %} -->
    </div>
  </body>
</html>
