---
layout: default
title: Home
---

<!-- <div class='audio-container'></div>
  <audio controls autoplay loop autobuffer id="mscBack" style="margin: 0 auto; display: block; width: 100%">
    <source src="../assets/audio/jazz.ogg" type="audio/ogg">
    <source src="../assets/audio/jazz.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
</div>

<script>
  var audio = document.getElementById("mscBack");
  audio.volume = 0.1;
</script> -->

<video controls loop="true" autoplay="autoplay" webkit-playsinline playsinline width="100%">
  <!-- <source src="https://drive.google.com/uc?export=download&id=1r25SOrNISVPIxEVPo-Qw9dpEpLOBL0Aj" type='video/mp4'> -->
  <source src="../assets/video/nami_campfire_s3.mp4" type='video/mp4'>
</video>

<!-- <iframe style="border:10px solid rgb(255, 255, 255);" width="98.1%" height="480" src="https://www.youtube.com/embed/NyjmpCKImvI?autoplay=1&mute=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
  Your browser doesn't support iframes
</iframe> -->

<!-- <iframe style="width: 100%;border:3px solid black;" src="https://www.youtube.com/embed/NyjmpCKImvI?autoplay=1&mute=0" id="Iframe">
  Your browser doesn't support iframes
</iframe>
  
<script>
  // Selecting the iframe element
  var frame = document.getElementById("Iframe");
    
  // Adjusting the iframe height onload event
  frame.onload = function()
  // function execute while load the iframe
  {
    // set the height of the iframe as 
    // the height of the iframe content
    frame.style.height = 
    1000;
      

    // set the width of the iframe as the 
    // width of the iframe content
    // frame.style.width  = 
    // frame.contentWindow.document.body.scrollWidth+'px';
        
  }
</script> -->
    
<!-- <iframe src="https://www.youtube.com/embed/NyjmpCKImvI?autoplay=1&mute=0" frameborder="0" style="overflow:hidden;height:100%;width:100%" height="100%" width="100%" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope">
  Your browser doesn't support iframes
</iframe> -->

{% for post in paginator.posts %}
  {% include featured-post.html %}
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>
